{{ form_start(form, {attr: {class: 'filter'}}) }}
    {{ form_row(form.q) }}

<h4>Localisation:</h4>
{{ form_row(form.city) }}

<h4>Prix</h4>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.pricePerDayMin) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.pricePerDayMax) }}
    </div>
</div>

<h4>Disponibilités:</h4>
{{ form_row(form.availability) }}

<h4>Equipements</h4>
{{ form_row(form.equipment) }}

<h4>Taille du camping-car</h4>
{{ form_row(form.campingCarSize) }}



<button type="submit" class="btn btn-primary w-100">Filtrer</button>
{{ form_end(form) }}