{% extends 'base.html.twig' %}

{% block title %}Advert{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>{{ advert.title }}</h1>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd" class="bi bi-currency-euro" viewBox="0 0 16 16">
                <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
            </svg>
            <p class="d-inline h2 text-secondary">{{ advert.pricePerDay }}</p>
        </div>
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#0d6efd" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
            </svg>
            <p class="d-inline h2 text-secondary">{{ advert.city }}</p>
        </div>
    </div>
    <p><small><strong>Date de mise en ligne:</strong> {{ advert.createdAt ? advert.createdAt|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") : '' }}</small></p>
    <div id="carouselExampleControls" class="carousel slide mb-3 mt-5" data-ride="carousel">
        <div class="carousel-inner">
            {% for thumbnail in advert.thumbnails %}
                <div class="carousel-item {%- if loop.first %} active{% endif %}">
                    <img class=""
                         src="{{ image_url(thumbnail.path, 800, 450) }}"
                         alt=""
                         title=""
                    />
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <p>Disponible le: {{ advert.availability ? advert.availability|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") : '' }}</p>
    <h2 class="underline-title mb-5 pb-4">Description: </h2>
    <p class="mb-5">{{ advert.description }}</p>
    <h2 class="underline-title mb-5 pb-4">Equipements:</h2>
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                {% for equipment in advert.equipment %}
                    <li class="list-group-item">{{ equipment.nameEquipment }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


    {% if (is_granted('ROLE_PROPRIETAIRE') or is_granted('ROLE_LOCATAIRE')) and edit %}
        <div class="mt-5">
            <a class="btn btn-primary" href="{{ path('admin_advert_index') }}">back to list</a>
            <a class="btn btn-success" href="{{ path('admin_advert_edit', {'id': advert.id}) }}">edit</a>
            {{ include('advert/_delete_form.html.twig') }}
        </div>
    {% else %}
        <div class="mt-5">
            <a class="btn btn-primary" href="{{ path('home') }}">Retour</a>
        </div>
    {% endif %}
{% endblock %}
